<% if user_signed_in? %>
  <div class="content-wrapper">
		<div class="container-fluid">
			<h1 class='text-center'>Home</h1>
			<div class="col-xs-10 col-xs-offset-5">
				<div>Bem-vindo <%= current_user.email %></div>
			</div>
        </div>
		<ul>
		<li>
			<%= link_to 'My Sites', controller: 'sites' %>
		</li>
        <li>
			<%= link_to "Change your password", edit_user_registration_path %>   
        </li>
		<li>
			<%= link_to('Logout', destroy_user_session_path, method: :delete) %>     
		</li>
		</ul>
	</div>
<% end %>

<% if !user_signed_in? %>
	<div style="width: 100vw; height: 100vh;background:#333;">
	<div style="padding-top: 30vh;">
		<h1 align="center" style="color: white;">Bem-vindo ao Sistema de Férias!</h1>
		<div align="center" class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4" style="text-justify:center; text-align: justify;">
					<p style="margin: 2em 0; color: white;" align="center"> 
						Projeto em desenvolvimento
					</p>
				</div>
			</div>
			<%= link_to 'Login', new_user_session_path, class: 'btn btn-primary' %>
			<%= link_to 'Cadastro', new_user_registration_path, class: 'btn btn-primary' %>
		</div>
	</div>
	</div>
<% end %>