<h1>Listing sites of <%=current_user.name%></h1>
 
<table>
  <tr>
    <th>Link</th>
    <th>Actions</th>
  </tr>
 
  <% @sites.each do |site| %>
    <tr>
      <td><%= link_to site.title, site.text, :target => "_blank" %></td>
      <td><%= link_to 'Show', site_path(site) %></td>
      <td><%= link_to 'Edit', edit_site_path(site) %></td>
    </tr>
  <% end %>
  <%= link_to 'Add new site', new_site_path %>
</table>
<p>
<%= link_to 'Back', root_path %>